*{
	margin: 0px;
    padding: 0px;
}
body{
	background-color: rgb(250, 250, 250);
	font-family: "Meiryo", sans-serif;
	height: 100%;
	min-height: 100vh;
	position: relative;
}
.content-wrapper{
	padding-bottom: 200px;
}

.separate{
	border: none;
	background-color: #e0e0e0;
	height: 2px;
	margin: 100px 0px;
}

/*----------------------------------------------------------*/
.title{
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0px auto;
    text-align: center;
}
.title-text{
	display: inline;
	text-align: center;
	font-size: 2rem;
	margin-left: 20px;
	color: rgb(100, 100, 100);
	vertical-align: middle;
}
.title-icon{
	display: inline;
	height: 4rem;
	width: 4rem;
	vertical-align: middle;
}



.header {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 300px 0px;
	background-color: #a0a0a0;
	background: radial-gradient(rgba(80,80,80,0.8), rgba(80,80,80,0.5)), url(../images/background.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.header-name{
	font-size: 6rem;
	color: white;
	line-height: 1.5;
}
.header-portfolio{
	font-size: 3rem;
	color: white;
	line-height: 1;
}



.menu-wrapper{
	height: 50px;
}
#menu{
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	border-top: 2px solid rgb(240, 240, 240);
	border-bottom: 2px solid rgb(240, 240, 240);
	font-size: 1.5rem;
}
.menu-element{
	display: inline;
	font-weight: bold;
	margin: 0px 30px;
}
.menu-element a{
	text-decoration: none;
	color: rgb(100, 100, 100);
}
.menu-element a:hover{
	opacity: 0.6;
	transition: opacity 0.2s;
}
.menu-icon{
	height: 1.5rem;
	width: 1.5rem;
	margin: 0px 5px;
	vertical-align: middle;
}
#menu.fixed{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	border-top: 2px solid rgba(240, 240, 240, 0.5);
	border-bottom: 2px solid rgba(240, 240, 240, 0.5);
	font-size: 1.5rem;
	position: fixed;
	top: 0px;
	left: 0px;
	transform: translateY(0);
}


.profile{
	text-align: center;
	margin: 100px 0px;
}



.skill-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skill-element{
	align-items: flex-start;
	min-width: 500px;
	max-width: 600px;
	width: 45%;
	margin: 5px 10px;
	background-color: white;
	border: 2px solid rgb(200, 200, 200);
	border-radius: 5px;
}
.skill-name{
	text-align: center;
	margin: 0.5rem;
	font-size: 1.5rem;
	color: rgb(100, 100, 100);
}
.skill-description{
	text-align: center;
	font-size: 1.0rem;
}



.works-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.works-element{
	background-color: rgb(150, 150, 150);
	display: flex;
	min-width: 500px;
	max-width: 600px;
	padding: 10px;
	margin: 10px;
	border: 2px solid rgb(200, 200, 200);
	border-radius: 5px;
	text-decoration: none;
}
.works-element:hover {
	opacity: 0.6;
	transition: opacity 0.2s;
}
.works-image{
	width: 300px;
	height: 225px;
	border: 2px solid rgb(200, 200, 200);
}
.works-text{
	margin-left: 10px;
	color: white;
}
.works-name{
	text-align: center;
	margin: 10px 0px;
	font-size: 1.2rem;
}
.works-language{
	margin: 5px 0px;
	font-size: 0.8rem;
}
.works-description{
	font-size: 1rem;
}



.footer {
	width: 100%;
	height: 100px;
	background-color: rgb(150, 150, 150);
	text-align: center;
	position: absolute;
	bottom: 0;
}
.footer-arrow{
	width: 60px;
	height: 60px;
	cursor: pointer;
}
/*----------------------------work introduction------------------------------*/
.workIntroduction{
	text-align: center;
	margin: 0px auto;
	max-width: 600px;
}
.workIntroduction-main{
	padding-bottom: 50px;
}
.workIntroduction-image{
	border: 2px solid rgb(200, 200, 200);
	border-radius: 5px;
}
.workIntroduction-description{
	text-align: left;
}
.workIntroduction-paragraph{
	padding: 20px 0px;
	text-align: left;
}
.subtitle{
	font-size: 1.2rem;
	color: rgb(50, 50, 50);
}



.gallery-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-element{
	width: 300px;
	margin: 30px 10px;
}
.gallery-image{
	width: 300px;
	height: 225px;
	border: 2px solid rgb(200, 200, 200);
	border-radius: 5px;
}
.gallery-description{
	font-size: 0.8rem;
	text-align: center;
}








